@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
body {
    color: #797979;
    background: #f2f2f2;
    margin: 0px !important;
    padding: 0px !important;
    font-family: Ruda, sans-serif;
    font-size: 13px }
.modal-title,
::selection { color: #fff }
.modal-header,
::selection {background: #68dff0;}
ul li { list-style: none }
a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0 }
::-moz-selection {
    background: #68dff0;
    color: #fff }
#container {
    width: 100%;
    height: 100% }
.btn-round {
    border-radius: 20px;
    -webkit-border-radius: 20px }
.accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    border-top: 1px solid #F5F5F5;
    padding: 5px 0;
    line-height: 28.75px;
    text-transform: uppercase;
    color: #1a1a1a;
    background-color: #fff;
    outline: 0!important;
    text-decoration: none }
a.logo:focus,
a.logo:hover,
ul.sidebar-menu li a {
    outline: 0;
    text-decoration: none }
.bg-theme02 { background-color: #ac92ec }
.bg-theme03 { background-color: #48cfad }
.bg-theme04 { background-color: #ed5565 }
.btn-theme {
    color: #fff;
    background-color: #68dff0;
    border-color: #48bcb4 }
.btn-theme.active,
.btn-theme:active,
.btn-theme:focus,
.btn-theme:hover,
.open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #48bcb4;
    border-color: #48bcb4 }
.btn-theme02 {
    color: #fff;
    background-color: #ac92ec;
    border-color: #967adc }
.btn-theme02.active,
.btn-theme02:active,
.btn-theme02:focus,
.btn-theme02:hover,
.open .dropdown-toggle.btn-theme02 {
    color: #fff;
    background-color: #967adc;
    border-color: #967adc }
.btn-theme03 {
    color: #fff;
    background-color: #48cfad;
    border-color: #37bc9b }
.btn-theme03.active,
.btn-theme03:active,
.btn-theme03:focus,
.btn-theme03:hover,
.open .dropdown-toggle.btn-theme03 {
    color: #fff;
    background-color: #37bc9b;
    border-color: #37bc9b }
.btn-theme04 {
    color: #fff;
    background-color: #ed5565;
    border-color: #da4453 }
.btn-theme04.active,
.btn-theme04:active,
.btn-theme04:focus,
.btn-theme04:hover,
.open .dropdown-toggle.btn-theme04 {
    color: #fff;
    background-color: #da4453;
    border-color: #da4453 }
.btn-clear-g {
    color: #48bcb4;
    background: 0 0;
    border-color: #48bcb4 }
.btn-clear-g:hover { color: #fff }
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979 }
.centered { text-align: center }
.goleft { text-align: left }
.goright { text-align: right }
.box0 p,
.box1,
.box1 h3,
.ds h3 { text-align: center }
.mt { margin-top: 25px }
.mb { margin-bottom: 25px }
.ml { margin-left: 5px }
.no-padding { padding: 0!important }
.no-margin { margin: 0!important }
.bg-theme,
.label-theme { background-color: #68dff0 }
#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d }
#sidebar h5 {
    color: #f2f2f2;
    font-weight: 700 }
#sidebar ul li { position: relative }
#sidebar .sub-menu>.sub li { padding-left: 32px }
#sidebar .sub-menu>.sub li:last-child { padding-bottom: 10px }
.dcjq-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 15px }
.active .dcjq-icon {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px }
.nav-collapse.collapse { display: inline }
ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0 }
ul.sidebar-menu {  margin-top: 75px }
#sidebar>ul>li>ul.sub { display: none }
#sidebar>ul>li.active>ul.sub,
#sidebar>ul>li>ul.sub>li>a { display: block }
ul.sidebar-menu li ul.sub li {
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0 }
ul.sidebar-menu li ul.sub li:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px }
ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    color: #aeb2b7 }
ul.sidebar-menu li a,
ul.sidebar-menu li ul.sub li.active a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease }
ul.sidebar-menu li ul.sub li a:hover {
    color: #fff;
    background: 0 0 }
ul.sidebar-menu li ul.sub li.active a {
    color: #fff;
    transition: all .3s ease;
    display: block }
ul.sidebar-menu li {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px }
ul.sidebar-menu li.sub-menu { line-height: 15px }
ul.sidebar-menu li a span { display: inline-block }
ul.sidebar-menu li a {
    color: #aeb2b7;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    transition: all .3s ease }
a.logo,
ul.sidebar-menu li a.active i,
ul.sidebar-menu li a:focus i,
ul.sidebar-menu li a:hover i { color: #fff }
ul.sidebar-menu li a.active,
ul.sidebar-menu li a:focus,
ul.sidebar-menu li a:hover {
    background: #68dff0;
    color: #fff;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease }
ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px }
.mail-info,
.mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px }
#main-content { margin-left: 210px; }
.footer,
.header {
    min-height: 60px;
    padding: 0 15px; }
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1002;
    }
.black-bg {
    background: #ffd777;
    border-bottom: 1px solid #c9aa5f }
.wrapper {
    display: inline-block;
    margin-top: 60px;
    width: 100%;
    padding: 0 15px 15px }
a.logo {
    float: left;
    margin-top: 15px }
a.logo {
    font-size: 20px;
    text-transform: uppercase }
a.logo b { font-weight: 900 }
a.logo span { color: #68dff0 }
.box0:hover,
.pn { box-shadow: 0 2px 1px rgba(0, 0, 0, .2) }
.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px }
.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px }
.sidebar-closed>#sidebar>ul { display: none }
.sidebar-closed #main-content { margin-left: 0 }
.sidebar-closed #sidebar { margin-left: -180px }
.ds {
    background: #fff;
    padding-top: 20px }
.ds h4 {
    font-size: 14px;
    font-weight: 700 }
.ds h3 {
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin: 0;
    background: #ff865c;
    }
.ds i {
    font-size: 12px;
    line-height: 16px }
.ds .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    }
.ds .block {
    width: 150px;
    float: right;
    padding: 0 10px;
    }
.ds .desc:hover { background: #f2f2f2 }
.ds .thumb {
    width: 30px;
    margin: 0 10px 0 20px;
    display: block;
    float: left }
.ds .details {
    max-width: 100%;
    float: left }
.ds>.desc p {font-size: inherit }
.ds p>muted {
    font-size: 9px;
    text-transform: uppercase;
    font-style: italic;
    color: #666 }
.ds a { color: #68dff0 }
.mtbox {
    margin-top: 80px;
    margin-bottom: 40px }
.box1 {
    padding: 15px;
    color: #989898;
    border-bottom: 1px solid #989898 }
.box1 span { font-size: 50px }
.box0:hover .box1 { border-bottom: 1px solid #fff }
.box0 p {
    font-size: 12px;
    color: #f2f2f2 }
.box0:hover p { color: #ff865c }
.box0:hover { background: #fff }
.border-head h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-bottom: 5px;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: #989898 }
.darkblue-panel,
.green-panel,
.grey-panel,
.white-panel { text-align: center }
.card,
.pn { height: 250px }
.pn:hover { box-shadow: 2px 3px 2px rgba(0, 0, 0, .3) }
.grey-panel { background: #dfdfe1 }
.grey-panel .grey-header {
    background: #ccd1d9;
    padding: 3px;
    margin-bottom: 15px }
.grey-panel h5 {
    font-weight: 200;
    margin-top: 10px }
.grey-panel p { margin-left: 5px }
.darkblue-panel { background: #444c57 }
.darkblue-panel .darkblue-header {
    background: 0 0;
    padding: 3px;
    margin-bottom: 15px }
.darkblue-panel h1 { color: #f2f2f2 }
.darkblue-panel footer,
.green-panel h3,
.green-panel h5,
.green-panel p { color: #fff }
.darkblue-panel h5 {
    font-weight: 200;
    margin-top: 10px;
    color: #fff }
.darkblue-panel footer h5 {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700 }
.green-panel { background: #68dff0 }
.green-panel .green-header {
    background: #43b1a9;
    padding: 3px;
    margin-bottom: 15px }
.green-panel h5 {
    font-weight: 200;
    margin-top: 10px }
.green-panel h3 {
    font-weight: 100 }
.white-panel {
    background: #fff;
    color: #ccd1d9 }
.white-panel p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px }
.white-panel .white-header {
    background: #f4f4f4;
    padding: 3px;
    margin-bottom: 15px;
    color: #c6c6c6 }
.white-panel .small {
    font-size: 10px;
    color: #ccd1d9 }
.white-panel i {
    color: #68dff0;
    padding-right: 4px;
    font-size: 14px }
.card {
    background: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    margin-bottom: 1em }
.content-panel,
.form-panel,
.showback { box-shadow: 0 3px 2px #aab2bd }
.content-panel {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 5px }
.content-panel h4 { margin-left: 10px }
.inline-block { display: inline-block }
.form-panel {
    background: #fff;
    margin: 10px;
    padding: 10px;
    text-align: left }
label { font-weight: 400 }
.form-horizontal.style-form .form-group {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 15px;
    margin-bottom: 15px }
.round-form {
    border-radius: 500px;
    -webkit-border-radius: 500px }
@media (min-width:768px) {
    .form-horizontal .control-label { text-align: left }}
#focusedInput {
    border: 1px solid #ed5565;
    box-shadow: none }
.badge.bg-primary { background: #8075c4}
.badge.bg-success { background: #a9d86e }
.badge.bg-warning { background: #FCB322 }
.badge.bg-important { background: #ff6c60 }
.badge.bg-info { background: #41cac0 }
.badge.bg-inverse { background: #2A3542 }
.site-footer {
    background: #68dff0;
    color: #fff;
    padding: 10px 0;
    min-height: 40px }
.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255, 255, 255, .5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50% }
.go-top i { color: #2A3542 }
.site-min-height { min-height: 900px }
.form-loader { min-height: 300px }

@media (max-width:768px) {
    #sidebar,
    .header { position: fixed }
    #sidebar>ul>li>a,
    #sidebar>ul>li>a>span { line-height: 35px }
    #sidebar,
    #sidebar>ul>li>a,
    #sidebar>ul>li>ul.sub>li { width: 100% }
    #sidebar>ul>li>ul.sub>li>a { background: 0 0!important }
    #sidebar {
        height: auto;
        overflow: hidden;
        z-index: 1001 }
    #main-content { margin: 0!important }
    #sidebar>ul>li { margin: 0 10px 5px }
    #sidebar>ul>li>a {
        height: 35px;
        padding: 0 10px;
        text-align: left }
    #sidebar ul>li>a .arrow,
    #sidebar>ul>li>a .arrow.open {
        margin-right: 10px;
        margin-top: 15px }
    #sidebar ul>li.active>a .arrow,
    #sidebar ul>li>a:focus .arrow,
    #sidebar ul>li>a:hover .arrow,
    #sidebar>ul>li.active>a .arrow.open,
    #sidebar>ul>li>a:focus .arrow.open,
    #sidebar>ul>li>a:hover .arrow.open { margin-top: 15px }
    #sidebar { margin: 0!important }
    #sidebar .btn-navbar.collapsed .arrow { display: none }
    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top: 48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent }
    .modal-footer .btn { margin-bottom: 0!important }
    .btn { margin-bottom: 5px }
    .stepy-titles li { margin: 10px 3px }
    .dcjq-icon { top: 10px }
    ul.sidebar-menu li ul.sub li a { padding: 0 }
    .img-responsive { width: 100% }
    .ds .block { 
      width: 100%;
      padding: 5px }}
        
#sitenotification { font-size: 1em; }
.modal {
  -webkit-overflow-scrolling: auto;
  overflow-y: auto;
  padding: 0px !important; }
.modal-loader, .form-loader {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5em; }
.modal-dialog { height: 100% }
.modal-content {
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media (max-width: 768px) {
  .modal-dialog { width: 100%; }
  .site-min-height {min-height: calc(100vh - 100px);}
  .modal-dialog,
  .modal-footer,
  .modal-header,
  .modal-body,
  .modal-dialog .row {margin: 0px;}
  .modal-body {min-height: calc(100vh - 120px);}
  .modal-footer,
  .modal-header {  min-height: 60px }
  .form-loader { min-height: calc(100vh - 200px) }}
