@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    font-size:13px}
ul li {list-style: none}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none}
::selection {
    background: #68dff0;
    color: #fff}
::-moz-selection {
    background: #68dff0;
    color: #fff}
#container {
    width: 100%;
    height: 100%}
/* Bootstrap Modifications */
.modal-header {background: #68dff0}
.modal-title {color: white}
.btn-round {
	border-radius: 20px;
	-webkit-border-radius: 20px}
.accordion-heading .accordion-toggle {
	display: block;
	cursor: pointer;
	border-top: 1px solid #F5F5F5;
	padding: 5px 0px;
	line-height: 28.75px;
	text-transform: uppercase;
	color: #1a1a1a;
	background-color: #ffffff;
	outline: none !important;
	text-decoration: none}	
/*Theme Backgrounds*/
.bg-theme {background-color: #68dff0}
.bg-theme02 {background-color: #ac92ec}
.bg-theme03 {background-color: #48cfad}
.bg-theme04 {background-color: #ed5565}
/*Theme Buttons*/
.btn-theme {
  color: #fff;
  background-color: #68dff0;
  border-color: #48bcb4}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4}
.btn-theme02 {
  color: #fff;
  background-color: #ac92ec;
  border-color: #967adc}
.btn-theme02:hover,
.btn-theme02:focus,
.btn-theme02:active,
.btn-theme02.active,
.open .dropdown-toggle.btn-theme02 {
  color: #fff;
  background-color: #967adc;
  border-color: #967adc}
.btn-theme03 {
  color: #fff;
  background-color: #48cfad;
  border-color: #37bc9b}
.btn-theme03:hover,
.btn-theme03:focus,
.btn-theme03:active,
.btn-theme03.active,
.open .dropdown-toggle.btn-theme03 {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b}
.btn-theme04 {
  color: #fff;
  background-color: #ed5565;
  border-color: #da4453}
.btn-theme04:hover,
.btn-theme04:focus,
.btn-theme04:active,
.btn-theme04.active,
.open .dropdown-toggle.btn-theme04 {
  color: #fff;
  background-color: #da4453;
  border-color: #da4453}
.btn-clear-g {
	color: #48bcb4;
	background: transparent;
	border-color: #48bcb4}
.btn-clear-g:hover {color: white}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #797979}
/*Helpers*/
.centered {	text-align: center}
.goleft {text-align: left}
.goright {text-align: right}
.mt {margin-top: 25px}
.mb {margin-bottom: 25px}
.ml {margin-left: 5px}
.no-padding {padding: 0 !important}
.no-margin {margin: 0 !important}
/*Exclusive Theme Colors Configuration*/
.label-theme {background-color: #68dff0;}
.bg-theme {background-color: #68dff0;}
ul.top-menu > li > .logout {
	color: #f2f2f2;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #64c3c2 !important;
	padding: 5px 15px;
	margin-right: 15px;
	background: #68dff0;
	margin-top: 15px}
/*sidebar navigation*/
#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d}
#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700}
#sidebar ul li {position: relative}
#sidebar .sub-menu > .sub li  {padding-left: 32px}
#sidebar .sub-menu > .sub li:last-child {padding-bottom: 10px}
/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background: no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px}
.active .dcjq-icon {
    background: no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px}
/*---*/
.nav-collapse.collapse {display: inline}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0}
ul.sidebar-menu {margin-top: 75px}
#sidebar > ul > li > ul.sub {display: none}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {display: block}
ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0}
ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px}
ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7}
ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent}
ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block}
ul.sidebar-menu li{
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px}
ul.sidebar-menu li.sub-menu{line-height: 15px}
ul.sidebar-menu li a span{display: inline-block}
ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease}
ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {color: #fff}
ul.sidebar-menu li a.active i {color: #fff}
.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px}

/* MAIN CONTENT CONFIGURATION */
#main-content {margin-left: 210px}
.header, .footer {
    min-height: 60px;
    padding: 0 15px}
.header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002}
.black-bg {
    background: #ffd777;
    border-bottom: 1px solid #c9aa5f}
.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%}
a.logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase}
a.logo b {font-weight: 900}
a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none}
a.logo span {
    color: #68dff0}
/*--sidebar toggle---*/
.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px}
.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px}
.sidebar-closed > #sidebar > ul {display: none}
.sidebar-closed #main-content {margin-left: 0px}
.sidebar-closed #sidebar {margin-left: -180px}
/* Dash Side */
.ds {
	background: #ffffff;
	padding-top: 20px}
.ds h4 {
	font-size: 14px;
	font-weight: 700}
.ds h3 {
	color: #ffffff;
	font-size: 16px;
	padding: 0 10px;
	line-height: 60px;
	height: 60px;
	margin: 0;
	background: #ff865c;
	text-align: center}
.ds i {
	font-size: 12px;
	line-height: 16px}
.ds .desc {
	border-bottom: 1px solid #eaeaea;
	display: inline-block;
	padding: 15px 0;
	width: 100%}
.ds .desc:hover {background: #f2f2f2}
.ds .thumb {
	width: 30px;
	margin: 0 10px 0 20px;
	display: block;
	float: left}
.ds .details {
	width: 170px;
	float: left}
.ds .details-more {
	width: 33%;
    margin: 0 10px 0 20px;
    display: block;
	float: left}
.ds .details-min {
	width: 10%;
    margin: 0 10px 0 20px;
    display: block;
	float: left}
.ds > .desc p {font-size: 11px}
.ds p > muted {
	font-size: 9px;
	text-transform: uppercase;
	font-style: italic;
	color: #666666}
.ds a {color: #68dff0}
/* LINE ICONS CONFIGURATION */
.mtbox {
	margin-top: 80px;
	margin-bottom: 40px}
.box1 {
	padding: 15px;
	text-align: center;
	color: #989898;
	border-bottom: 1px solid #989898}
.box1 span {font-size: 50px}
.box1 h3 {text-align: center}
.box0:hover .box1 {border-bottom: 1px solid #ffffff}
.box0 p {
	text-align: center;
	font-size: 12px;
	color: #f2f2f2}
.box0:hover p {color: #ff865c}
.box0:hover {
	background: #ffffff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2)}
/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */
/*Panel Size*/
.pn {
	min-height: 250px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2)}
.pn:hover {box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3)}
/*Grey Panel*/
.grey-panel {
	text-align: left;
	background: #dfdfe1}
.grey-panel .grey-header {
	background: #ccd1d9;
	padding: 3px;
	margin-bottom: 15px}
.grey-panel h5 {
	font-weight: 200;
	margin-top: 10px;
}
.grey-panel p {
    text-align: left;
	margin-left: 5px}
/* Dark Blue*/
.darkblue-panel {
	text-align: center;
	background: #444c57}
.darkblue-panel .darkblue-header {
	background: transparent;
	padding: 3px;
	margin-bottom: 15px}
.darkblue-panel h1 {color: #f2f2f2}
.darkblue-panel h5 {
	font-weight: 200;
	margin-top: 10px;
	color: white}
.darkblue-panel footer {color: white}
.darkblue-panel footer h5 {
	margin-left:10px; 
	margin-right: 10px;
	font-weight: 700}
/*Green Panel*/
.green-panel {
	text-align: center;
	background: #68dff0}
.green-panel .green-header {
	background: #43b1a9;
	padding: 3px;
	margin-bottom: 15px}
.green-panel h5 {
	color: white;
	font-weight: 200;
	margin-top: 10px}
.green-panel h3 {
	color: white;
	font-weight: 100}
.green-panel p {
	color: white;
    text-align: left}
/*White Panel */
.white-panel {
	text-align: center;
	background: #ffffff;
	color: #ccd1d9}
.white-panel p {
	margin-top: 5px;
	text-align: left;
	margin-left: 15px}
.white-panel .white-header {
	background: #f4f4f4;
	padding: 3px;
	margin-bottom: 15px;
	color: #c6c6c6}
.white-panel .small {
	font-size: 10px;
	color: #ccd1d9}
.white-panel i {
	color: #68dff0;
	padding-right: 4px;
	font-size: 14px}
/*Content Panel*/
.content-panel {
	background: #ffffff;
	box-shadow: 0px 3px 2px #aab2bd;
	padding-top: 5px;
	padding-bottom: 5px}
.content-panel h4 {margin-left: 10px}
/* BLOG PANEL */
.blog-bg {
	background: no-repeat center top;
    background-color: #f2f2f2;
	margin-top: -15px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover}
.blog-bg .badge {
	position: absolute;
	top: 20px;
	left: 35px}
.badge-popular {
	background: #3498db;
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 13px;
	color: #fff;
	text-align: center;
	border-radius: 100%}
.blog-title {
	background: rgba(0,0,0,0.5);
	bottom: 100px;
	padding: 6px;
	color: white;
	font-weight: 700;
	position: absolute;
	display: block;
	width: 120px}
.blog-text {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 15px;
	font-size: 12px}
/* showcase background */
.showback {
	background: #ffffff;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 3px 2px #aab2bd}
/* FORMS CONFIGURATION */
.form-panel {
	background: #ffffff;
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 3px 2px #aab2bd;
	text-align: left}
label {font-weight: 400}
.form-horizontal.style-form .form-group {
	border-bottom: 1px solid #eff2f7;
	padding-bottom: 15px;
	margin-bottom: 15px}
.round-form {
	border-radius: 500px;
	-webkit-border-radius: 500px}
@media (min-width: 768px) {.form-horizontal .control-label {text-align: left}}
.focusedInput {
	border: 1px solid #ed5565;
	box-shadow: none}
.add-on {
	float: right;
	margin-top: -37px;
	padding: 3px;
	text-align: center}
.add-on .btn {height: 34px}
/*badge*/
.badge.bg-primary {background: #8075c4}
.badge.bg-success {background: #a9d86e}
.badge.bg-warning {background: #FCB322}
.badge.bg-important {background: #ff6c60}
.badge.bg-info {background: #41cac0}
.badge.bg-inverse {background: #2A3542}
/*footer*/
.site-footer {
    background: #68dff0;
    color: #fff;
    padding: 10px 0}
.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%}
.go-top i {color: #2A3542}
.site-min-height {min-height: 900px}
@media (max-width: 768px) {
    /*sidebar*/
    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001}
    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important}
    #sidebar > ul > li > a > span {line-height: 35px}
    #sidebar > ul > li {margin: 0 10px 5px 10px}
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left}
    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px}
    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
    	margin-top: 15px}
    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {width: 100%}
    #sidebar > ul > li > ul.sub > li > a {background: transparent !important }
    /* sidebar */
    #sidebar {margin: 0px !important}
    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {display: none}
    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent}
    /*---------*/
    .modal-footer .btn {margin-bottom: 0px !important}
    .btn {margin-bottom: 5px}
    /*menu icon plus minus*/
    .dcjq-icon {top: 10px}
    ul.sidebar-menu li ul.sub li a {padding: 0}
    .img-responsive {width: 100%}}
@media (max-width: 480px) {
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color:#ccc }}

@media (max-width:320px) {.site-min-height {min-height: 460px}}
	.modal {
  		-webkit-overflow-scrolling: auto;
  		overflow-y: auto;
  		padding: 0px !important;
  		z-index: 9999;
  		}
@media (max-width: 768px) {
  	.modal-dialog {
    	/* width: 100% !important; */
    	margin: 0px !important;
    	}
  	.modal-dialog .row {margin: 0px}}
.modal-loader {
	height: 100%;
  	display: flex;
  	display: -webkit-flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 5em}
.modal-content {
  	border: none;
  	border-radius: 0px;
  	-webkit-box-shadow: none;
  	box-shadow: none}
